<div class="container" style="
      margin: 0; 
      padding: 0; 
      font-family: Inter, sans-serif; 
      background:#2c2f33;
      width: 100%;
      height: calc(100vh - 40px);
      padding-top: 40px;
      padding-bottom: 120px">
  <div class="content" style="
      width: 560px;
      min-height: 760px;
      height: auto;
      margin: 0 auto;
      background: #36393F;">
    <div style="padding: 40px;">
      <img src="https://cdn.discordapp.com/attachments/217282275350544384/800917193210593320/661070188275433477.png"
        height="60px" width="60px" style="border-radius: 50%;" />
      <h1 style="
          margin: 60px 0px 40px 0px;
          font-weight: 600;
          font-size: 26px;
          color: #fff;">
        Hey, finding your password ?
        <b style="color: #fff;">Chocomint</b>
      </h1>
      <p style="margin-bottom: 0px; line-height: 30px;font-size: 18px; color: #fff;">
        User name: {{name}}
      </p>
      <p style="margin-bottom: 0px; line-height: 30px;font-size: 18px; color: #fff; text-decoration:none;">
        Email: {{email}}
      </p>
      <p style="margin-bottom: 20px;line-height: 30px; font-size: 18px; color: #fff;">
        Password: {{randomString}}
      </p>
      <p style="margin-bottom: 20px;line-height: 30px; font-size: 18px; color: #fff;">
        Clickbait now!
      </p>
      <div style="text-align: center">
        <a style="
          margin-bottom: 45px;
          background: #7289da;
          border-radius: 3px;
          padding: 10px 45px;
          box-shadow: none;
          border-color: gainsboro;
          border: none;
          outline: none;
          display: inline-block;
          color: #fff;
          text-decoration: none;
          cursor: pointer;" href="#">Join now</a>
      </div>
    </div>
  </div>